USE [master]
GO
/****** Object:  Database [SDSTechnicalExam]    Script Date: 10/17/2024 9:56:18 AM ******/
CREATE DATABASE [SDSTechnicalExam]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SDSTechnicalExam', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SDSTechnicalExam.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SDSTechnicalExam_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SDSTechnicalExam_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SDSTechnicalExam].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SDSTechnicalExam]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 10/17/2024 9:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecyclableItems]    Script Date: 10/17/2024 9:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecyclableItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RecyclableTypeId] [int] NOT NULL,
	[Weight] [float] NOT NULL,
	[ComputedRate] [float] NOT NULL,
	[ItemDescription] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.RecyclableItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecyclableTypes]    Script Date: 10/17/2024 9:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecyclableTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](max) NULL,
	[Rate] [float] NOT NULL,
	[MinKg] [float] NOT NULL,
	[MaxKg] [float] NOT NULL,
 CONSTRAINT [PK_dbo.RecyclableTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[RecyclableItems] ON 

INSERT [dbo].[RecyclableItems] ([Id], [RecyclableTypeId], [Weight], [ComputedRate], [ItemDescription]) VALUES (1, 1, 2, 3, N'Plastic Bottle')
INSERT [dbo].[RecyclableItems] ([Id], [RecyclableTypeId], [Weight], [ComputedRate], [ItemDescription]) VALUES (2, 2, 5, 3.75, N'Newspaper Bundle')
SET IDENTITY_INSERT [dbo].[RecyclableItems] OFF
GO
SET IDENTITY_INSERT [dbo].[RecyclableTypes] ON 

INSERT [dbo].[RecyclableTypes] ([Id], [Type], [Rate], [MinKg], [MaxKg]) VALUES (1, N'Plastic', 1.5, 0.5, 10)
INSERT [dbo].[RecyclableTypes] ([Id], [Type], [Rate], [MinKg], [MaxKg]) VALUES (2, N'Paper', 0.75, 1, 20)
INSERT [dbo].[RecyclableTypes] ([Id], [Type], [Rate], [MinKg], [MaxKg]) VALUES (3, N'Metal', 3, 0.2, 15)
SET IDENTITY_INSERT [dbo].[RecyclableTypes] OFF
GO
/****** Object:  Index [IX_RecyclableTypeId]    Script Date: 10/17/2024 9:56:18 AM ******/
CREATE NONCLUSTERED INDEX [IX_RecyclableTypeId] ON [dbo].[RecyclableItems]
(
	[RecyclableTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RecyclableItems]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RecyclableItems_dbo.RecyclableTypes_RecyclableTypeId] FOREIGN KEY([RecyclableTypeId])
REFERENCES [dbo].[RecyclableTypes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RecyclableItems] CHECK CONSTRAINT [FK_dbo.RecyclableItems_dbo.RecyclableTypes_RecyclableTypeId]
GO
USE [master]
GO
